@using BlogPro.MODEL.Entities
@using System.Collections.Generic
@model List<Blog>
 @{string color = "";}
 @{
	if (Model.FirstOrDefault().Category.CategoryName == "Seyahat")
	{
		color = "post-category text-white bg-warning mb-3";
	}
	if (Model.FirstOrDefault().Category.CategoryName == "Teknoloji")
	{
		color = "post-category text-white bg-info mb-3";
	}
	if (Model.FirstOrDefault().Category.CategoryName == "Sinema")
	{
		color = "post-category text-white bg-success mb-3";
	}
	if (Model.FirstOrDefault().Category.CategoryName == "Dizi")
	{
		color = "post-category text-white bg-danger mb-3";
	}
	if (Model.FirstOrDefault().Category.CategoryName == "Yazılım")
	{
		color = "post-category text-white bg-secondary mb-3";
	}
 }
<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('@Model.FirstOrDefault().BlogImage');">
	<div class="container">
		<div class="row same-height justify-content-center">
			<div class="col-md-12 col-lg-10">
				<div class="post-entry text-center">
					<span class="@color">@Model.FirstOrDefault().Category.CategoryName</span>
					<h1 class="mb-4"><a href="#">@Model.FirstOrDefault().BlogTitle</a></h1>
					<div class="post-meta align-items-center text-center">
						<figure class="author-figure mb-0 mr-3 d-inline-block"><img src="@Model.FirstOrDefault().Author.AuthorImage" alt="Image" class="img-fluid"></figure>
						<span class="d-inline-block mt-1">@Model.FirstOrDefault().Author.AuthorName</span>
						<span>&nbsp;-&nbsp; @Model.FirstOrDefault().BlogDate.ToShortDateString()</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
