<div class="sidebar-box">
	<h3 class="heading">Kategoriler</h3>
	<ul class="categories">
		<li><a asp-action="BlogByCategory" asp-controller="Category" asp-route-id="1">Teknoloji<span>(@Model.TechNumbers)</span></a></li>
		<li><a asp-action="BlogByCategory" asp-controller="Category" asp-route-id="2">Sinema<span>(@Model.MovieNumbers)</span></a></li>
		<li><a asp-action="BlogByCategory" asp-controller="Category" asp-route-id="3">Dizi<span>(@Model.SeriesNumbers)</span></a></li>
		<li><a asp-action="BlogByCategory" asp-controller="Category" asp-route-id="4">Seyahat<span>(@Model.TravelNumbers)</span></a></li>
		<li><a asp-action="BlogByCategory" asp-controller="Category" asp-route-id="5">Yazılım<span>(@Model.SoftwareNumbers)</span></a></li>
	</ul>
</div>

