@using X.PagedList
@using X.PagedList.Mvc.Core
@model IEnumerable<Blog>
 @{string color = "";}
<div class="py-5 bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<span>Kategori</span>
				<h3>@Model.FirstOrDefault().Category.CategoryName</h3>
				<p>@Model.FirstOrDefault().Category.CategoryName ile alakalı tüm içeriklerimize bu sayfada göz atabilirsiniz.</p>
			</div>
		</div>
	</div>
</div>
<div class="site-section bg-white">
	<div class="container">
		<div class="row">
			@foreach (Blog item in Model)
			{
				if (item.Category.CategoryName == "Seyahat")
				{
					color = "post-category text-white bg-warning mb-3";
				}
				if (item.Category.CategoryName == "Teknoloji")
				{
					color = "post-category text-white bg-info mb-3";
				}
				if (item.Category.CategoryName == "Sinema")
				{
					color = "post-category text-white bg-success mb-3";
				}
				if (item.Category.CategoryName == "Dizi")
				{
					color = "post-category text-white bg-danger mb-3";
				}
				if (item.Category.CategoryName == "Yazılım")
				{
					color = "post-category text-white bg-secondary mb-3";
				}
				<div class="col-lg-4 mb-4">
					<div class="entry2">
						<a asp-action="BlogDetails" asp-controller="Blog" asp-route-id="@item.BlogID"><img src="@item.BlogImage" alt="Image" class="img-fluid rounded"></a>
						<div class="excerpt">
							<span class="@color">@item.Category.CategoryName</span>

							<h2><a asp-action="BlogDetails" asp-controller="Blog" asp-route-id="@item.BlogID">@item.BlogTitle</a></h2>
							<div class="post-meta align-items-center text-left clearfix">
								<figure class="author-figure mb-0 mr-3 float-left"><img src="@item.Author.AuthorImage" alt="Image" class="img-fluid"></figure>
								<span class="d-inline-block mt-1">By <a href="#">@item.Author.AuthorName</a></span>
								<span>&nbsp;-&nbsp; @item.BlogDate.ToShortDateString()</span>
							</div>

							<p>@item.BlogContent.Substring(0, item.BlogContent.Substring(0,200).LastIndexOf(" "))...</p>
							<p><a asp-action="BlogDetails" asp-controller="Blog" asp-route-id="@item.BlogID">Devamını Oku</a></p>
						</div>
					</div>
				</div>
			}
		</div>
		@Html.PagedListPager((IPagedList)Model,page=> Url.Action("BlogByCategory","Category", new {page}))
	</div>
</div>


